<app-page-title [heading]="headings" [subheading]="subheadings" [icon]="icons"></app-page-title>

<div class="row" *ngIf="authority === 'super_admin' || authority === 'porte parole'">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                <!--Nouveau Communiqué-->
                {{operation == 'add' ? "Nouveau Communiqué" : "Modifier Communiqué du "+communique.date}}
            </div>
            <div class="card-body">
                <form id="signupForm" class="col-md-12 mx-auto" [formGroup]="crForm">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div id="liste4" class="has-feedback"
                                     >
                                    <!--<ckeditor [(ngModel)]="mycontent" [ngModelOptions]="{standalone: true}"-->
                                              <!--#myckeditor="ngModel"-->
                                              <!--name="myckeditor"-->
                                              <!--required-->
                                              <!--[config]="ckeConfig"-->
                                              <!--debounce="500"-->
                                              <!--(paste)="onPaste($event)"-->
                                              <!--(change)="onChange($event)">-->
                                    <!--</ckeditor>-->
                                    <textarea [ngClass]="{'red': crForm.controls['cp'].invalid && (crForm.controls['cp'].touched)}"  name="" class="form-control form-control-sm" id="" cols="30" rows="10" formControlName="cp" [(ngModel)]="communique.details"placeholder="communiqué"></textarea>
                                    <!--<div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Champs-->
                                        <!--Obligatoire!-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm" (click)="operation == 'add' ? addCR(): updateCommunique()" [disabled]="crForm.invalid || crForm.pristine">
                            {{operation == 'add' ? "Enregistrer" : "Modifier"}}
                        </button> &nbsp;
                        <button *ngIf="operation != 'add'" class="btn btn-focus btn-sm" (click)="operation = 'add'; initCR()" >Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Historique des Communiqués
            </div>
            <div class="card-body"  *ngIf="communiques.length && loaders == false ">
                <div class=" row ">
                    <div class="col-md-3 bg-transparent card">
                        <div class="p-3">
                            <div class="dropdown-menu nav p-0 dropdown-menu-inline dropdown-menu-rounded dropdown-menu-hover-primary">
                                <h6 tabindex="-1" class="pt-0 dropdown-header">Dates</h6>
                                <a *ngFor="let cr of communiques" (click)="onChange2(cr); selectedCommunique = cr" href="#tab-faq-{{cr.id_communique}}"
                                   data-toggle="tab" tabindex="0" class="mb-1 dropdown-item">{{cr.date | date: 'dd-MM-yyyy'}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 card">
                        <div class="pb-5 pl-5 pr-5 pt-3">
                            <div class="mobile-app-menu-btn mb-3">
                                <button type="button" class="hamburger hamburger--elastic"><span
                                        class="hamburger-box"><span class="hamburger-inner"></span></span></button>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane" id="tab-faq-{{id}}">
                                    <h4>Communiqué du {{date | date: 'dd-MM-yyyy'}}
                                    </h4>
                                    <div class="btn-actions-pane-right" *ngIf="authority === 'super_admin' || authority === 'porte parole'">
                                        <div role="group" class="btn-group-sm btn-group">
                                            <button class=" btn  btn-primary" (click)="operation = 'edit'; communique = selectedCommunique"><i class="fa fa-pencil"></i></button>
                                            <button class="btn  btn-danger" (click)="deleteCommunique(selectedCommunique)"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div [innerHTML]="details"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!communiques.length && loaders == false" style="color: grey; font-size: 1.5rem;" class="card-body text-center" >Aucun communiqué trouvé !</div>
            <div *ngIf="!communiques.length && loaders == true" class="text-center">
                <div class="font-icon-wrapper mr-3 mb-3" style="border: none;display: inline-block">
                    <div class="loader-wrapper d-flex justify-content-center align-items-center" style="vertical-align: middle;">
                        <div class="loader">
                            <div class="ball-scale-multiple">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <p style="vertical-align: middle">Chargement...</p>
                </div>
            </div>
        </div>
    </div>
</div>