<!--<app-page-title id="heads" [heading]="noms | uppercase" [subheading]="subheading" [icon]="'lnr-layers icon-gradient bg-focus'-->
<!--" [bg]="bg" ></app-page-title>-->

<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<div class="main-card mb-3 card">-->
            <!--<div class="card-header">-->
                <!--Information utilisateur-->
            <!--</div>-->
            <!--<div class="table-responsive" >-->
                <!--<table class="align-middle mb-0 table table-sm table-borderless table-hover">-->
                    <!--<tbody >-->
                    <!--<tr style="cursor: pointer"  >-->
                        <!--<td class="text-center text-muted">{{ noms  | uppercase}}</td>-->
                        <!--<td class="text-center">Tel: {{selectedUser.tel}}</td>-->
                        <!--<td class="text-center">{{selectedUser.email}}</td>-->
                    <!--</tr>-->

                    <!--</tbody>-->

                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

tetst